.header{
  padding: 48px 0 36px;
  @include res('>', 768) {
    padding: 128px 0 56px;
  }
  .logo{
    margin: 0;
    a{
      margin: 0 auto;
      display: block;
      width: 96px;
      height: 101px;
      background: url(../img/mk-logo.svg) no-repeat left top;
      background-size: 96px 101px;
      @include res('>', 768) {
        margin: 0 auto;
        width: 190px;
        height: 185px;
        background-size: 190px 185px;
      }
      @include res('>', 1024) {
        margin: 0 auto;
        width: 236px;
        height: 224px;
        background-size: 236px 224px;
      }
    }
    span{
      display: none;
    }
  }
}
