// レスポンシブ対応のmixin
// ==============================
// @param string  $mode `~` : a 〜 b  | `>` : a以上 | `<` : a以下
// @param integer $a    以上 or 以下の幅
// @param integer $b    $a 〜 $b の時の上限
//
// howto.
// @include res('<', 600) { #600px以下 }
// @include res('>', 600) { #600px以上 }
// @include res('~', 600, 800) { #600px以上800px以下 }
//
@mixin res( $mode, $a : 0, $b : 0 ) {

  @if $mode == '~' {
    @media screen and ( min-width: $a + px ) and ( max-width: $b + px ) {
      @content;
    }
  }


  @else if $mode == '>' {
    @media screen and ( min-width: $a + px ) {
      @content;
    }
  }


  @else if $mode == '<' {
    @media screen and ( max-width: $a + px ) {
      @content;
    }
  }
}

@mixin img_full{
  width: 100%;
  max-width: 100%;
  height: auto;
}

@mixin list_style_non{
  list-style: none;
  padding-left: 0;
}

@mixin opacity($opacity) {
   opacity: $opacity;
   $opacityIE: $opacity * 100;
   filter: alpha(opacity=$opacityIE);
}

@mixin clearfix {
	&:after {
		content: "."; 
		display: block;
		clear: both;
		height: 0; 
		visibility: hidden;
	}
}

@mixin ff_default {
  font-family: 'EB Garamond', 'YuMincho', serif;
  font-weight: 400;
}

@mixin ff_jp {
  font-family: 'YuMincho', serif;
  font-weight: 500;
}

@mixin ff_jp_bold {
  font-family: 'YuMincho Demibold', serif;
  font-weight: normal;
}

@mixin ff_en {
  font-family: 'EB Garamond', serif;
  font-weight: 500;
}

@mixin ff_en_bold {
  font-family: 'EB Garamond', serif;
  font-weight: 600;
}

@mixin fs_h2 {
  font-size: 28px;
  line-height: 36px;
  @include res('>', 768) {
    font-size: 42px;
    line-height: 52px;
  }
}

@mixin fs_h3 {
  font-size: 18px;
  line-height: 32px;
}

@mixin fs_h4 {
  font-size: 16px;
  line-height: 122%;
}

@mixin fs_body {
  font-size: 15px;
  line-height: 32px;
}

@mixin fs_caption {
  font-size: 12px;
  line-height: 21px;
}