// レスポンシブ対応のmixin
// ==============================
// @param string  $mode `~` : a 〜 b  | `>` : a以上 | `<` : a以下
// @param integer $a    以上 or 以下の幅
// @param integer $b    $a 〜 $b の時の上限
//
// howto.
// @include res('<', 600) { #600px以下 }
// @include res('>', 600) { #600px以上 }
// @include res('~', 600, 800) { #600px以上800px以下 }
//
@mixin res( $mode, $a : 0, $b : 0 ) {

  @if $mode == '~' {
    @media screen and ( min-width: $a + px ) and ( max-width: $b + px ) {
      @content;
    }
  }


  @else if $mode == '>' {
    @media screen and ( min-width: $a + px ) {
      @content;
    }
  }


  @else if $mode == '<' {
    @media screen and ( max-width: $a + px ) {
      @content;
    }
  }
}

@mixin img_full{
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

@mixin list_style_non{
  margin: 0;
  list-style: none;
  padding-left: 0;
}

@mixin opacity($opacity) {
   opacity: $opacity;
   $opacityIE: $opacity * 100;
   filter: alpha(opacity=$opacityIE);
}

@mixin clearfix {
	&:after {
		content: "."; 
		display: block;
		clear: both;
		height: 0; 
		visibility: hidden;
	}
}

@mixin flex {
  	display:-webkit-box;
  	display:-ms-flexbox;
  	display:flex;
}

@mixin ff_default {
  font-family: 'EB Garamond', 'Yu Mincho Pr6N R', '游明朝体 Pr6N R', 'Yu Mincho', serif;
  font-weight: 400;
}

@mixin ff_jp {
  font-family: 'Yu Mincho Pr6N R', '游明朝体 Pr6N R', 'Yu Mincho', serif;
  font-weight: 500;
}

@mixin ff_jp_sans-serif {
  font-family: '游ゴシック体', 'Yu Gothic', sans-serif;
  font-weight: 500;
}

@mixin ff_jp_bold {
  font-family: 'Yu Mincho Pr6N D', '游明朝体 Pr6N D', serif;
  font-weight: normal;
}

@mixin ff_en {
  font-family: 'EB Garamond', serif;
  font-weight: 400;
}

@mixin ff_en_bold {
  font-family: 'EB Garamond', serif;
  font-weight: 600;
}

@mixin ff_en_helvetica {
  font-family: 'HelveticaNeue', sans-serif;
  font-weight: 400;
}


@mixin fs_h1 {
  font-size: 28px;
  line-height: 36px;
  @include res('>', 768) {
    font-size: 36px;
    line-height: 120%;
  }
}

@mixin fs_h2 {
  font-size: 22px;
  line-height: 33px;
  @include res('>', 768) {
  font-size: 24px;
  line-height: 36px;
  }
}

@mixin fs_h3 {
  font-size: 18px;
  line-height: 27px;
}

@mixin fs_h4 {
  font-size: 16px;
  line-height: 32px;
}

@mixin fs_body {
  font-size: 13px;
  line-height: 28px;
  letter-spacing: .05em;
  @include res('>', 768) {
    font-size: 14px;
    line-height: 32px;
  }
}

@mixin fs_caption {
  font-size: 10px;
  line-height: 16px;
}

@mixin fs_btn_road {
  font-size: 10px;
  line-height: 32px;
}

@mixin fs_date {
  font-size: 12px;
  line-height: 32px;
  letter-spacing: .05em;
}

@mixin fs_news_title {
  font-size: 13px;
  line-height: 21px;
  @include res('>', 768) {
    font-size: 16px;
    line-height: 32px;
  }
}

@mixin fs_category_title {
  font-size: 12px;
  line-height: 28px;
  letter-spacing: .05em;
  @include res('>', 768) {
    line-height: 16px;
  }
}

@mixin fs_contents_title {
  font-size: 22px;
  line-height: 33px;
  letter-spacing: .05em;
  @include res('>', 768) {
    font-size: 24px;
    line-height: 36px;
  }
}

@mixin fs_page_top {
  @include fs_caption;
  @include res('>', 768) {
    font-size: 12px;
    line-height: 180%;
    letter-spacing: .05em;
  }
}

@mixin fs_profile_label {
  font-size: 10px;
}

@mixin fs_home_h3 {
  font-size: 20px;
  line-height: 30px;
}

@mixin fs_home_h3_small {
  font-size: 14px;
  line-height: 21px;
}

@mixin fs_home_caption {
  font-size: 12px;
  line-height: 21px;
}

@mixin fs_home_lead {
  font-size: 16px;
  line-height: 225%;
}