// module
.btn-wrap{
  margin-top: 55px;
  @include res('>', 768) {
    margin: 80px auto 0;
    max-width: 640px;
  }
}

.btn{
  padding: 0;
  display: block;
  position: relative;
  background-color: #000;
  text-align: center;
  line-height: 1.1em;
  color: $color-white;
  text-decoration: none;
  @include ff_jp;
  &:hover{
    color: $color-white;
  }
  .btn-inner{
    padding: 22px 24px;
    display: block;
    background: url(../img/mk-btn-arrow-right.svg) no-repeat;
    background-size:  11.199px 14.84px;
    background-position: right 24px top 22px;
  }
}

.profile-cover {
  margin-bottom: 40px;
  @include res('>', 768) {
    margin-bottom: 50px;
  }
}

.recruit{
  margin: 10px -10px;
  padding: 30px 16px 18px;
  background-color: #EBEBEB;
  @include res('~', 769, 1150){
    margin: 0;
  }
  @include res('>', 1150) {
    margin: 0 -52px;
    padding-bottom: 58px;
  }
  h2,
  p{
    text-align: center;
  }
  h2{
    margin-bottom: 0;
  }
  p{
    margin-top: 15px;
    letter-spacing: .05em;
  }
  .btn-wrap{
    margin-top: 20px;
    .btn{
      background-color: #B18E6E;
      @include res('>', 768) {
        margin: 0 auto;
        max-width: 375px;
      }
    }
  }
}

.contents-header{
  border-bottom: solid 1px $border-color-lg;
  padding: 17px 0 18px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $color-white;
  z-index: 9;
  @include res('>', 1150) {
    display: none;
  }
  .contentsHeader-logo{
    margin: 0 auto;
    width: 136.77px;
    height: 21px;
    display: block;
    background: url(../img/mk-logo-side.svg) no-repeat center center;
    background-size: 136.77px 21px;
  }
}

.contents-title{
  margin-bottom: 18px;
  @include fs_contents_title;
  color: $txt-color-black;
  @include ff_jp_bold;
  @include res('>', 768) {
    font-size: 24px;
    line-height: 36px;
  }
}

.section-profile{
  font-weight: normal;
  .profile-label,
  .profileTitle-jp,
  .profileTitle-en{
    line-height: 32px;
  }
  .profile-label{
    margin-left: -5px;
    display: block; 
    @include fs_profile_label;
    @include ff_en_helvetica;
  }
  .profileTitle-jp{
    padding-right: 1em;
    @include fs_h3;
    @include ff_jp_bold;
    letter-spacing: 0.1em;
  }
  .profileTitle-en{
    @include fs_home_h3_small;
    @include ff_en;
  }
  &:last-child{
    margin-top: 34px;
    @include res('>', 768) {
      margin-top: 75px;
    }
  }
}

.contents-category{
  display: none;
  margin: 38px 0 0;
  @include ff_en;
  @include res('>', 768) {
    margin-top: 57px;
  }
  .contentsCategory-label{
    @include fs_category_title;
    margin-bottom: 1px;
    @include res('>', 768) {
      margin-bottom: 13px;
    }
  }
  .contentsCategory-list{
    @include list_style_non;
    li{
      margin-right: 1em;
      display: inline-block;
      @include res('>', 768) {
        display: block;
      }
      a{
        color: $txt-color-gray;
      }
      &.nuxt-link-active{
        a{
          color: $txt-color-black;
        }
      }
    }
  }
  &:first-child{
    @include res('>', 768) {
      margin-top: 112px;
    }
  }
}

.news-index{
  &.__border-non{
    .newsIndex-ul{
      border-top: none;
      @include list_style_non;
      li{
        border-bottom: none;
        padding: 10px 0;
        @include res('>', 768) {
          padding: 0 0 40px;
        }
        &:last-child{
          @include res('>', 768) {
            padding: 0;
          }
        }
      }
    }
    .newsIndex-block{
      @include res('>', 768) {
        display: blodk;
        width: auto;
      }
      .newsIndexBlock-txt{
        @include res('>', 768) {
          display: table;
          width: 100%;
        }
        .newsIndexBlockTxt-date,
        .newsIndexBlockTxt-title{
          @include res('>', 768) {
            display: table-cell;
          }
        }
        .newsIndexBlockTxt-date{
          @include res('>', 768) {
            display: table-cell;
            padding-right: 38px;
          }
        }
        .newsIndexBlockTxt-title{
          @include fs_body;
        }
      }
      .newsIndexBlock-img{
        display: none;
      }
    }
  }
  .newsIndex-ul{
    border-top: solid 1px $border-color-lg;
    @include list_style_non;
    li{
      border-bottom: solid 1px $border-color-lg;
      padding: 20px 0 31px;
      @include res('>', 768) {
        padding: 20px 0;
      }
    }
  }
  .newsIndex-block{
    display: block;
    @include res('>', 768) {
      display: table;
      width: 100%;
    }
    .newsIndexBlock-txt{
      display: block;
      .newsIndexBlockTxt-date,
      .newsIndexBlockTxt-title{
        display: block;
      }
      .newsIndexBlockTxt-date{
        display: block;
        @include fs_date;
        @include ff_en;
      }
      .newsIndexBlockTxt-title{
        margin-bottom: 0;
        @include fs_news_title;
        @include ff_jp;
        color: $txt-color-gray;
      }
    }
    .newsIndexBlock-img{
      display: none;
      @include res('>', 768) {
        width: 156px;
      }
    }
    .newsIndexBlock-txt,
    .newsIndexBlock-img{
      @include res('>', 768) {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}

.load-wrap{
  border-bottom: solid 1px $border-color-lg;
}

.load-btn{
  padding: 6px 0;
  display: block;
  text-align: center;
  @include fs_btn_road;
  letter-spacing: 0.05em;
   color: $txt-color-gray;
}

.news-detail{
  border-top: solid 1px $border-color-lg;
  padding-top: 20px;
  @include res('>', 768) {
    padding-top: 27px;
  }
  .newsDetail-date{
    margin-bottom: 1px;
    @include fs_date;
    @include ff_en;
    @include res('>', 768) {
      margin-bottom: 12px;
    }
  }
  .newsDetail-title{
    margin-bottom: 30px;
    @include fs_news_title;
    @include res('>', 768) {
      margin-bottom: 40px;
    }
  }
}

.page-nav{
  border-top: solid 1px $border-color-lg;
  margin-top: 30px;
  padding-top: 18px;
  @include res('>', 768) {
    margin-top: 106px;
    padding-top: 23px;
    display: table;
    width: 100%;
  }
  .pageNav-next,
  .pageNav-prev{
    @include fs_home_caption;
    @include res('>', 768) {
      display: table-cell;
      width: 50%;
    }
    a{
      padding-left: 18px;
      background: url(../img/mk-pagenav-arrow-left.svg) no-repeat left center;
      background-size: 6px 9px;
      color: $txt-color-gray;
      @include ff_jp;
      @include res('>', 768) {
        display: block;
      }
    }
  }
  .pageNav-next{
    a{
      @include res('>', 768) {
        padding-right: 18px;
      }
    }
  }
  .pageNav-prev{
    @include res('>', 768) {
      text-align: right;
    }
    a{
      @include res('>', 768) {
        padding-right: 18px;
        background: url(../img/mk-pagenav-arrow-right.svg) no-repeat right center;
        background-size: 6px 9px;
      }
    }
  }
}


// ページトップ
.pagetop-mod{
  position: fixed;
  right: 18px;
  bottom: 80px;
  @include res('>', 768) {
    right: 38px;
    bottom: 48px;
  }
  .pagetopMod-inner{
    .pagetopModInner-link{
      display: block;
      height: 35px;
      @include res('>', 768) {
        width: 47px;
        height: 46px;
      }
      .pagetopModInnerLink-arrow{
        margin: 0 auto;
        display: block;
        width: 21px;
        height: 12px;
        background: url(../img/mk-arrow-pagetop.svg) no-repeat center center;
        background-size: 21px 12px;
        @include res('>', 768) {
          width: 26px;
          height: 14px;
          background-size: 26px 14px;
        }
      }
      .pagetopModInnerLink-txt{
        margin-top: 8px;
        display: block;
        text-align: center;
        @include ff_en;
        @include fs_page_top;
      }
    }
  }
}

.swiper-container{
  width: 100%;
  line-height: 0;
  max-width: 100%;
  position: relative;
  .swiper-slide{
    overflow: hidden;
    width: 100%;
    height: auto;
    position: relative;
    .swiperSlider-inner{
      padding-top: 150%;
      width: auto;
      height: 100%;
      will-change: transform;
      transition: transform 9.5s linear;
      position: relative;
      @include res('>', 768) {
        padding-top: 70%;
      }
    }
    img{
      position: absolute;
      top: 0;
      width: 110%;
      object-fit: cover;
      margin-top: -5%;
      @include res('>', 768) {
        width: 115%;
        margin-top: -1%;
      }
    }
    &.swiper-slide-prev,
    &.swiper-slide-active{
      .swiperSlider-inner{
        transform: translateX(-10%);
      }
    }
  }
}

.fadeIn {
  opacity: 0;
  animation-delay: 1.4s;
  animation-name: fadeIn;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;         
  }
  100% {
    opacity: 1;
  }
}

// home
.home{
  article{
    padding-top: 0;
  }
  section{
    padding: 60px 0 5px;
    @include res('>', 768) {
      padding: 133px 0 36px;
    }
    &.pad-small{
      padding-top: 40;
      @include res('>', 768) {
        padding-top: 70px;
      }
    }
  }
  .footer{
    @include res('>', 768) {
      margin-top: 60px;
    }
  }
  .contents-title{
    margin-bottom: 0;
    letter-spacing: .08em;
  }
  .home-news-title{
    margin-bottom: 11px;
  }
  .home-story-title{
    margin-bottom: 6px;
  }
  .home-food-title{
    margin-bottom: 36px;
  }
  .home-access-title{
    margin-bottom: 36px;
  }
  .home-insta-title{
    margin-bottom: 0;
  }
  .contents-header{
    display: none;
  }
}

.home-logo{
  margin: 0 auto 37px;
  width: 171.54px;
  height: 26.34px;
  background: url(../img/mk-logo-side.svg) no-repeat center center;
  background-size: 171.54px 26.34px;
  @include res('>', 768) {
    margin-bottom: 69px;
    width: 312.62px;
    height: 48px;
    background-size: 312.62px 48px;
  }
  .none{
    display: none;
  }
}

.home-lead{
  @include res('>', 768) {
    margin-bottom: 60px;
    @include fs_home_lead;
    text-align: center;
  }
}

.home-link{
  margin-top: 20px;
  @include fs_date;
  @include res('>', 768) {
    text-align: right;
  }
  &.__mt-none{
    margin-top: 0;
  }
  &.__width-adj{
    @include res('>', 768) {
      max-width: 544px;
    }
  }
}

.home-kv{
  margin-bottom: 54px;
  @include res('>', 768) {
    margin-bottom: 169px;
  }
  &.__ng-margin{
    margin: 0 -28px 30px;
    @include res('>', 768) {
      margin: 0 0 60px;
    }
  }
}

.home-food-illust{
  margin-top: 4px;
  @include res('>', 768) {
    margin: 0 -30px;
  }
}

.home-access-cover{
  @include res('>', 768) {
    max-width: 544px;
  }
}

.fs_home_caption{
  @include fs_home_caption;
  @include ff_jp_sans-serif;
}

.fs_home_h3{
  @include fs_home_h3;
  .fs-small{
    @include fs_home_h3_small;
  }
}

.errors-404{
  h1,
  p{
    @include res('>', 768) {
      text-align: center;
    }
  }
}

.section-instagram{
  margin-top: 35px;
  @include res('>', 1150) {
    margin-top: 63px;
  }
}

.instagram-link{
  margin: 0 auto;
  display: block;
  text-align: center;
  .instagramLink-icon,
  .instagramLink-txt{
    margin: 0 auto;
    display: block;
  }
  .instagramLink-icon{
    width: 28px;
    height: 28px;
    background: url(../img/mk-icon-instagram-gray.svg) no-repeat center center;
    background-size: 28px 28px;
    @include res('>', 1150) {
      width: 32px;
      height: 32px;
      background-size: 32px 32px;
    }
  }
  .instagramLink-txt{
    padding-top: 5px;
    color: $txt-color-gray;
    letter-spacing: .05em;
    @include fs_home_caption;
    @include res('>', 1150) {
    font-size: 14px;
    }
  }
}

