//  * color
$color-gold: #a49971;
$color-black: #000;
$color-white: #FFF;

//  * txt color
$txt-color-body: #333;
$txt-color-gray: #7D7D7D;
$txt-color-black: #000;
$txt-color-white: #FFF;

//  * txt letter-spacint
$txt-ls-normal: 0;
$txt-ls-small: .1em;

//  * border-color
$border-color: #DADADA;
$border-color-lg: #EAEAEA;
$border-color-gray: #7D7D7D;

//  * slider
$slider-color-lg: #C4C4C4;
$slider-color-black: #000;

//  * btn
$btn-color-gold: #B18E6E;
$slider-color-black: #000;
