
@font-face {
  font-family: 'EBGaramond';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/EBGaramond-Medium.woff') format('woff');
  //font-display: swap;
}

@font-face {
  font-family: 'EBGaramond';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/EBGaramond-Bold.woff') format('woff');
  //font-display: swap;
}

@import "_variable.scss";

@import "_mixin.scss";

@import "_common.scss";

@import "_header.scss";

@import "_footer.scss";